
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom,rgb(193, 248, 255),rgb(112, 112, 206));
    background-repeat: no-repeat;
    height: 1000px;
}
/* @font-face {
    font-family: "pelak";
    src: url("font/PelakFA-Medium.woff");
} */
/* h1, h2, h3,h4, p, span, li, a, button, u, table, div, input{
    font-family: "pelak";
} */
.title-bmi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgb(68, 33, 196);
    font-size: 35px;
}
.title-bmi h1{
    text-align: center;
}
.paragragh-bmi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    color: rgb(15, 15, 102);
    text-shadow: 1px 1px 5px rgb(238, 238, 238);
    /* background-color: rgba(193, 248, 255, 0.329); */
    /* padding: 10px 25px; */
    margin: 10px 0;
    border-radius: 10px;
    /* box-shadow: 1px 1px 5px rgb(95, 158, 160); */
}
.bmiDiv{
    height: 250px;
    width: 80%;
    background-color: rgb(218, 208, 228);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 4px double black;
    padding: 0 20px;
}
.divOne, .divTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 25px;
}

#rangeOne,#rangeTwo{
    width: 600px;
}
.bmiSpan{
    font-size: 25px;
    color: rgb(64, 64, 255);
    font-weight: bolder;
}
.all-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    height: 100%;
    width: 100%;
}
.total-date{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.time-date{
    width: 20%;
    height: 70px;
    border: 5px double rgb(3, 182, 173);
    border-radius: 10px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.limit-bmi span{
    color: rgb(13, 13, 133);;
     font-size: 25px;
     text-shadow: 1px 0px 1px black;
     text-align: left;
     display: flex;
     /* justify-content: center; */
}